* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
html,
body {
    padding: 0;
    margin: 0;
}
.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    padding: 100px;
}
.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
}
.Left {
    width: 12.5rem;
    background-color: orange;
}

.Middle {
    flex: 1;
}

.Right {
    width: 12.5rem;
    background-color: blue;
}


#myDIV {
  display: none;
  width: 100%;
  height: 600px;
  text-align: center;
  resize:vertical;
  overflow: auto;
  border: 5px solid;
  padding: 20px;
}
.click {
  text-align: center;
}
button {
  background-color: #5588EE;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 20px;
  height: 100px;
  width: 200px;
}
p {
  ;
}
button:hover + p {
  display: block;
}




.container2 {
    border: 1px brown solid;
    width: 300px;
}

.resizable {
    overflow: hidden;
}

.resizable-top {
    background-color: coral;
}

.resizable-bottom {
    background-color: lightblue;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 16px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
