body {
    background-color: lightgray;
  }
h1, h3 {
    text-align: center;
  }
.links a {
  text-decoration: none;
}
.links ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
.links li a img {
    border-radius: 40px;
    height: 230px;
    object-fit: fill;
    padding: 1rem;
    width: 25rem;
  }