h1, h3 {
  text-align: center;
}
.links {
  border: 5px solid black;
  float: left;
}
.links a {
text-decoration: none;
}
.links ul {
  list-style: none;
}
.links li {
  width: 16.66666%;
  height: 160px;
  border: 2px solid black;
  float: left;
  margin: 60px;
}
 .links p {
   float: left;
 }
.links li a img {
  height: 160px;
  width: 100%;
}
