body {
  background-color: lightgray;
}
h1, h3 {
  text-align: center;
}
.links a {
text-decoration: none;
}
.links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.links li a img {
  height: 230px;
  width: 25rem;
  object-fit: fill;
  padding: 1rem;
  border-radius: 40px;
}