* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter',sans-serif;
  color: #343a40;
  line-height: 1;
}
h1 {
  color: #087f5b;
  padding-top: 10rem;
  text-align: center;
}
section {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn {
  background: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #087f5b
}
.btn:hover {
  background-color: #087f5b;
}
.btn:hover .btn-icon {
  stroke: #fff;
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}
.page-link:link, .page-link:visited {
  text-decoration: none;
  color: #343a40;
  height: 36px;
  width: 36px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  border-radius: 50%;
}
.page-link:hover, .page-link:active {
  background-color: #087f5b;
  color: #fff;
}
.page-link.green {
  color: #fff;
  background-color: #087f5b;
  border-radius: 50%;
}